body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; height: 100%; }
#unity-canvas { width: 100%; height: 100%; background: center no-repeat url('test.png'); background-size: cover; }
#unity-loading-bar { 
    /*display: none;*/
    color: #000;
    position: absolute;
    bottom: 80px;
    right: 0px;
    top: 0px;
    left: 0px;
    align-self: flex-end;
}
#unity-logo { visibility: hidden; }
#unity-progress-bar-empty { 
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 25px;
    margin-top: 10px;
    /* background: url(progress-bar-empty-light.png) no-repeat center; */
    /* background-size: cover; */
    /* padding: 6px 4px; */
    /* margin: 0px 5px; */
    border: solid 4px black;

}
#unity-progress-bar-full { 
    width: 0%; 
    height: 100%; 
    background: linear-gradient(#0978F4, #0B7DF1, #43A1F8) no-repeat center;
}
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
